* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

header {
    padding: 30px;
}

h1 {
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100vw;
    padding-left: 15%;
    background-color: lightblue;
    box-shadow: 0 2px 3px white;
    z-index: 1;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: lightblue;
    position: sticky;
    position: -webkit-sticky;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
}

li a:hover {
    background-color: #ebf6f9;
}

.boks {
    background-color: #ebf6f9;
    margin: 20px auto;
    width: 60vw;
    min-width: 550px;
    padding: 20px;
}

.bok {
    display: inline-block;
    width: 155px;
    top: 0;
    text-align: center;
    vertical-align: top;
}

.innledning {
    line-height: 150%;
}

h2 {
    margin-top: 0;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

span {
    display: block;
    margin-bottom: 3px;
}

img {
    margin: 0 auto 0;
}

.tittel {
    font-weight: bolder;
}

.pris {
    color: #246175;
}

.button {
    background-color: #ebf6f9;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: lightblue;
}

a {
    color: #246175;
    text-decoration: none;
}

footer {
    overflow: hidden;
    background-color: lightblue;
    bottom: 0;
    width: 100vw;
    margin-top: 20px;
    padding: 20px;
}

@media screen and (max-width: 550px) {
    nav {
        padding-left: 0;
    }
    .boks {
        width: 100vw;
        min-width: auto;
    }
    .bok {
        display: block;
        width: 100%;
        height: 210px;
        margin-bottom: 20px;
        position: relative;
        text-align: left;
        overflow: hidden;
    }
    img, .beskrivelse {
        display: inline-block;
        vertical-align: top;
        position: absolute;
    }
    img {
        max-width: 130px;
        height: auto;
    }
    .beskrivelse {
        top: 0;
        left: 140px;
    }
    .beskrivelse span {
        height: fit-content;
        min-width: 100px;
        word-wrap: normal;
    }
}

@media screen and (max-width: 400px) {
    .boks {
        padding: 10px;
    }
    .bok {
        height: 160px;
    }
    img {
        max-width: 100px;
    }
    .beskrivelse {
        left: 110px;
    }
}